
/* pages */
.findeo-custom #titlebar {
  padding: 20px 0;
}

.findeo-custom #titlebar h2 {
  font-size: 28px;
}

/* posts */
.findeo-custom .ul.listing-details {
  background-color: transparent;
}

/* footer */
.findeo-custom #footer {
  background-color: #ffffff;
  box-shadow: none;
  padding: 0;
}

.findeo-custom .footer-shadow {
  box-shadow: none;
}

.findeo-custom .copyrights {
  padding: 20px 0;
  text-align: left;
}

/* woocommerce */
.findeo-custom #customer_details,
.findeo-custom .woocommerce-customer-details {
  display: none;
}