/* homepage */
.findeo-custom .listing-img-content .listing-price {
  display: none;
}

.listing-content ul.listing-details {
  margin-left: 35px;
}
.listing-content ul.listing-details li {
  padding: 0;
  margin-right: 20px;
}

/* pages */
.findeo-custom #titlebar {
  padding: 10px 0;
  margin-bottom: 40px;
}

.findeo-custom #titlebar h2 {
  font-size: 18px;
  margin: 0;
}

/* posts */
.findeo-custom .list-layout ul.listing-details {
  background-color: transparent;
}

/* footer */
.findeo-custom #footer {
  background-color: #ffffff;
  box-shadow: none;
  padding: 0;
}

.findeo-custom .footer-shadow {
  box-shadow: none;
}

.findeo-custom .copyrights {
  padding: 20px 0;
  text-align: left;
}

/* property/show  */
.findeo-custom .property-main-features {
  padding: 0;
  background: transparent;
  margin-top: -50px;
}

.findeo-custom #titlebar.property-titlebar span a {
  margin-top: 20px;
}

.findeo-custom .property-title {
  margin-left: 0;
  max-width: 100%;
}

/* sidebar */
.findeo-custom .agent-widget {
  padding: 40px 20px;
}

.findeo-custom .property-main-features li {
  padding: 0;
  margin-right: 20px;
  line-height: normal;
}

.findeo-custom .property-main-features li span {
  display: inline;
}

.findeo-custom .property-main-features li:last-child {
  margin-right: 0;
}

.findeo-custom .property-pricing,
.findeo-custom .back-to-listings, 
.findeo-custom .property-type-badge {
  display: none !important;
}

/* submit-property */
.findeo-custom #property_preview .property-titlebar span a, 
.findeo-custom #titlebar.property-titlebar span {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* woocommerce */
.findeo-custom #customer_details,
.findeo-custom .woocommerce-customer-details {
  display: none;
}

.findeo-custom #package_selection .user-packages label, 
.findeo-custom #package_selection .plan-features label,
.findeo-custom #package_selection .user-packages [type="radio"]:checked + label:before, 
.findeo-custom #package_selection .user-packages [type="radio"]:not(:checked) + label:before, 
.findeo-custom #package_selection .plan-features [type="radio"]:checked + label:before, 
.findeo-custom #package_selection .plan-features [type="radio"]:not(:checked) + label:before {
  border-radius: 30px !important;
}