
/* posts */
.findeo-custom .ul.listing-details {
  background-color: transparent;
}

/* footer */
.findeo-custom #footer {
  box-shadow: none;
  background-color: #ffffff;
  padding: 0;
}

.findeo-custom .footer-shadow {
  box-shadow: none;
}

.findeo-custom .copyrights {
  text-align: left;
  padding: 20px 0;
}